html {
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/01/background_img.jpg);
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}
.keys__container {
  width: 70%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.key {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 0.5rem black;
  transition: all 0.07s ease;
  margin-bottom: 10px;
}
.key:not(:last-child) {
  margin-right: 10px;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
kbd {
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}
.sound {
  color: #ffc600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
