:root {
  --spacing: 10px;
  --blur: 0px;
  --borderRadius: 0%;
  --baseColor: #ffc600;
}

img {
  padding: var(--spacing);
  filter: blur(var(--blur));
  border-radius: var(--borderRadius);
  background-color: var(--baseColor);
}

.hl {
  color: var(--baseColor);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.controls {
  margin-bottom: 50px;
}
