body {
  width: 97%;
  margin: auto;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/background_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 10px;
}

@media screen and (min-width: 1400px) {
  body {
    width: 80%;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.main__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: white;
  width: auto;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  padding: 5px 10px;
}
.sub__title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.github__link {
  text-align: left;
  margin-right: auto;
  background-color: #262626;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.github__link a {
  text-decoration: none;
  color: white;
}
.author__title {
  text-align: right;
  margin-left: auto;
  background-color: #262626;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .sub__title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .github__link {
    text-align: center;
    margin: auto;
    background-color: #262626;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .author__title {
    text-align: center;
    margin: auto;
    background-color: #262626;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}
.exercise__row {
  margin-bottom: 20px;
}
.exercise__row a {
  text-decoration: none;
}
.card-section {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
.card-section:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.05);
}
.card-section__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}
.exercise__row:first-child .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small0.jpg");
}
.exercise__row:nth-child(2) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small1.jpg");
}
.exercise__row:nth-child(3) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small2.jpg");
}
.exercise__row:nth-child(4) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small3.jpg");
}
.exercise__row:nth-child(5) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small4.jpg");
}
.exercise__row:nth-child(6) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small5.jpg");
}
.exercise__row:nth-child(7) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small6.jpg");
}
.exercise__row:nth-child(8) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small7.jpg");
}
.exercise__row:nth-child(9) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small8.jpg");
}
.exercise__row:nth-child(10) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small9.jpg");
}

.card-section__title {
  font-size: 1rem;
  background-color: white;
  padding: 10px;
  height: 100px;
  color: #262626;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
