body {
  width: 97%;
  margin: auto;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/background_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 10px;
  font-family: "Titillium Web", sans-serif;
}
.sub__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.github__link {
  text-align: center;
  margin: auto;
  background-color: #262626;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.author__title {
  text-align: center;
  margin: auto;
  background-color: #262626;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.main__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: white;
  width: auto;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  padding: 5px 10px;
}
.sub__title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.github__link {
  text-align: left;
  margin-right: auto;
  background-color: #262626;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.github__link a {
  text-decoration: none;
  color: white;
}
.author__title {
  text-align: right;
  margin-left: auto;
  background-color: #262626;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.exercise__row a {
  text-decoration: none;
}
.card-section {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
.card-section:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.05);
}
.exercise__row:first-child .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small0.jpg");
}
.exercise__row:nth-child(2) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small1.jpg");
}
.exercise__row:nth-child(3) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small2.jpg");
}
.exercise__row:nth-child(4) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small3.jpg");
}
.exercise__row:nth-child(5) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small4.jpg");
}
.exercise__row:nth-child(6) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small5.jpg");
}
.exercise__row:nth-child(7) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small6.jpg");
}
.exercise__row:nth-child(8) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small7.jpg");
}
.exercise__row:nth-child(9) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small8.jpg");
}
.exercise__row:nth-child(10) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small9.jpg");
}
.exercise__row:nth-child(11) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small10.jpg");
}
.exercise__row:nth-child(12) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small11.jpg");
}
.exercise__row:nth-child(13) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small12.jpg");
}
.exercise__row:nth-child(14) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small13.jpg");
}
.exercise__row:nth-child(15) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small14.jpg");
}
.exercise__row:nth-child(16) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small15.jpg");
}
.exercise__row:nth-child(17) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small16.jpg");
}
.exercise__row:nth-child(18) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small17.jpg");
}
.exercise__row:nth-child(19) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small18.jpg");
}
.exercise__row:nth-child(20) .card-section__img {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/bongbong/javascript30/images/small19.jpg");
}

.card-section__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80px;
}
.card-section__title {
  font-size: 12px;
  line-height: 14px;
  background-color: white;
  padding: 10px;
  color: #262626;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  height: 60px;
}
.col-6 {
  padding: 0 10px;
}
.exercise__row {
  margin-bottom: 20px;
}

@media (min-width: 400px) {
  .card-section__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
  }
  .card-section__title {
    font-size: 16px;
    line-height: 18px;
    background-color: white;
    padding: 10px;
    color: #262626;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    height: 90px;
  }
  .col-6 {
    padding: 0 10px;
  }
  .exercise__row {
    margin-bottom: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    min-height: 500px;
    margin-top: 0;
  }
  .sub-desc-flex {
    display: flex;
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
  body {
    width: 80%;
  }
}
